@font-face {
  font-family: first-font;
  src: url("./components/multi-step-form-main/assets/fonts/Ubuntu-Regular.ttf");
}

@font-face {
  font-family: second-font;
  src: url("./components/multi-step-form-main/assets/fonts/Ubuntu-Bold.ttf");
}

*{
  font-family: first-font;
}
.border{
  border: 1px solid hsl(231, 11%, 63%);
}
input:focus {
  border: 1px solid hsl(213, 96%, 18%);
  outline: none;
}
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
#arcade{
  display: none;
}
.borderRadius{
  border-radius: 50%;
}
.animation-left-moving{
  width: 10px;
  height: 10px;
  margin:4px 0px;
  animation: leftmoving 1s forwards 1 ;
}

.animation-right-moving{
  width: 10px;
  height: 10px;
  margin:4px 0px;
  animation: rightmoving 1s forwards 1 ;
}

@keyframes leftmoving {
  /* 30% {left: 30%;}
  40% {left: 40%;}
  50% {left: 50%;} */
  60% {right: 60%;}
}

@keyframes rightmoving {
  
/* 
  40% {left: 40%;}
  50% {left: 50%;} */
  10% {left: 10%;}
  /* 30% {right: 30%;}
  35% {right: 35%;}
  40% {right: 40%;}
  45% {right: 45%;}
  50% {right: 50%;}
  55% {right: 55%;}
  60% {right: 60%;} */
/* 
  40% {right: 55%;}


  50% {right: 50%;}
  60% {right: 60%;} */
  /* 50% {rigth: 50%;}
  60% {rigth: 60%;} */
}

.activeBorder{
  border: 1px solid hsl(213, 96%, 18%);
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}